# Packer
/Users/er/.config/nvim/plugin

# dotfiles

.CFUserTextEncoding
.DS_Store
.cache/
.local/
.vim/
.zprofile
.gitconfig
.hyper_plugins/
.lesshst
.npm/
.nvm/
.ssh/
.viminfo
.zcompdump
.zsh_history
.zsh_sessions/
.zshrc

# er-macbook-pro

Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

