# Sensitive
.aws/
.pyutils.toml
.prefect/

# Packer
/Users/er/.config/nvim/plugin


# .config
.config/nvim/plugin/
.config/iterm2/
.config/github-copilot/

# dotfiles
.tmux/
.zcompdump-Eric*
.Trash/
.CFUserTextEncoding
.DS_Store
.cache/
.prefect/
.local/
.vim/
.zprofile
.gitconfig
.hyper_plugins/
.lesshst
.npm/
.nvm/
.ssh/
.viminfo
.zcompdump
.zsh_history
.zsh_sessions/
.zshrc
.python_history

# oh-my-zsh

!/.oh-my-zsh/
/.oh-my-zsh/**
             !/.oh-my-zsh/custom/
             .oh-my-zsh/custom/themes
             .oh-my-zsh/custom/plugins

# er-macbook-pro

Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Applications (Parallels)/
Parallels/

tmux-install/

.bash_history
.bash_logout
.bashrc
.config/autostart/
.config/dconf/
.config/dleyna-renderer-service.conf
.config/enchant/
.config/evolution/
.config/gtk-3.0/
.config/ibus/
.config/libreoffice/
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/pulse/
.config/touchegg/
.config/user-dirs.dirs
.config/user-dirs.locale
.gnupg/
.hidden
.inputrc
.mozilla/
.oh-my-zsh/
.profile
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.zcompdump-er-linux-5.8
.zcompdump-er-linux-5.8.zwc
Templates/
